h1 {font-size: 24px}
h2 {font-size: 20px}

@media screen and (min-width: 600px) {
    h1, h2 {font-size: 2rem;
        }
}

@media screen and (max-width: 600px) {
    h1, h2 {font-size: 1.5rem;
    }
}

h2 {font-size: 20px}

@media screen and (min-width: 600px) {
    h1 {font-size: 2rem;
        }
}

@media screen and (max-width: 600px) {
    h1 {font-size: 1.5rem;
    }
}
.portada {
    border-radius: 2%;
}
.perfil{
    margin-top: -3%;
    margin-left: 10%;
}